@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: auto; */
  font-style: normal;
  /* border: red solid 1px; */
}

body {
  background-color: #111113;
  color: white;
  overflow: hidden;
}

/* hide-scroll.css */
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
